.about {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.image {
    height: 500px;
    padding: 50px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 17px;
    font-family: monospace;
}

.meet {
    text-align: center;
    font-family: monospace;
    font-size: 17px;
}