.salonimage {
    height: 10px;
}

.flexible {
    display: flex;
    justify-content: space-evenly;
}

.scheduler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    align-items: center;
    font-family: monospace;
}

.selectors {
    padding: 10px;
}

.selector-box {
    padding: 10px;
}

.time {
    padding: 2px;
    font-family: monospace;
}

.description {
    padding: 10px;
    font-family: monospace;
}

.title-testing {
    font-size: 50px;
    font-family: monospace;
}