.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 35rem;

    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
  }

  .button {
    color: white;
  }